<!-- Home -->
<div id="home-main">
    <h2 class="headline headline-2 section-title">
        <span class="span">Welcome to my personal blog</span>
    </h2>

    <div class="content-container">
        <p>Hi! I'm byt3d1$t1ll3r, another <i>normal</i> cybersec guy. <br> As everyone, I still have a lot to learn, but for now I also can share my experience to colleagues and everyone interested in cybersec.</p>
        <p> &#160;</p>
        <figure>
            <img src="./assets/images/bcat.jpg"/>
        </figure>
        <p> &#160;</p>
    </div>
    <!-- Home Ends -->
</div>