<!-- About Me -->
<div id="me">
    <h2 class="headline headline-2 section-title">
        <span class="span">byt3d1$t1ll3r</span>
    </h2>

    <div class="content-container">
        <p>
            I'm byt3d1$t1ll3r, a guy that have some years of experience as a leader pentester. I love to study, learn new things, and share knowledge with others.
        </p>

        <p>
            I know that in cybersecurity there are a lot of people, at least where I come from, that present themselves as experts, they presume to have a lot of years of experience, they know to do a lot of things and treat others with contempt.
        </p>

        <p>
            I do not pretend to present me as a cybersecurity expert, neither to presume I know everything. In fact, despite having several years of experience and having several <i>advanced</i> certifications, I still feel like I'm in diapers. But I cannot deny that I enjoy sharing my knowledge and experience with those who appreciate them.
        </p>

        <p>
            I try to be responsible with my team and also promote humility between us. I hate bosses who see their subordinates as numbers, pawns, or soldiers. I prefer to see them for what they are: people who have lives outside of work, people with a lot of potential that can be developed with proper support. And above all: people I respect and appreciate too much, I don't want to fail them as they've entrusted me part of their professional development. I simply have a little bit of experience in some things than they do, and of course that doesn't make me any better or worse than them. 
        </p>

        <p>
            I hope that the stuff I publish here can help someone to reach her/his goals.
        </p>
        <p> &#160;</p>
    </div>
    <!-- About Me Ends -->
</div>
