<!-- Reviews -->
<div id="reviews">
    <h2 class="headline headline-2 section-title">
        <span class="span">Reviews</span>
    </h2>

    <div class="index-container">
        <div>
            <span>
                <a class="uk-button-text uk-text-capitalize index-item" href="javascript:loadContent('reviews/pmrp');">Practical Malware Research Profesional (PMRP) Review - February 8, 2026</a>
            </span>
        </div>
        <p> &#160;</p>
    </div>
    <!-- Reviews Ends -->

</div>
