<!-- Get Hired -->
<div id="gethired">
    <h2 class="headline headline-2 section-title">
        <span class="span">Want to get your first pentesting job?</span>
    </h2>
    <p>
        <span class="span"><i><a href="javascript:loadContent('me');" class="social-link-il">byt3d1$t1ll3r</a>. February 5, 2026</i></span>
    </p>

    <p>
        <span>
            <a href="javascript:copyTextToClipboard('posts/firstjob');" class="social-link-il">Share this post</a><i> (copy URL to clipboard)</i>
        </span>
    </p>

    <div class="content-container">
        <section id="1st">
            <table>
                <tr>
                    <td class="table-text">
                        <p>
                            The main reason for this post is to help those that want to get their first pentesting job. I was inspired by someone that contacted me through LinkedIn and asked for some advice to get his first job as a pentester.
                        </p>
                
                        <p>
                            First, let me explain that actually I am the manager of a pentesting area, and among other activities, I am in charge of conducting technical interviews for applicants. Of course I started as a newbie, later I become a pentester, so I can share with you some of my experiences that maybe can help you to get your first job into cibersecurity.
                        </p>
                
                        <p>
                            In my country, there are no degree programs that train graduates with a solid understanding of penetration testing. There are schools that offer cybersecurity programs, which are really information security programs focused on preparing graduates for information security processes, auditing, and governance, but the technical component is scarce and weak. I'm not saying these programs aren't worthwhile; on the contrary, they're very necessary. However, if a young person wants to develop as a penetration tester, they'll have to choose a science or engineering degree focused on computer science and, through self-study, CTFs, or some other means, prepare themselves technically to be able to find a job as a penetration tester.
                        </p>
                                        
                        <p>
                            As a result of this self training, these young people often lack experience based on a structured methodology (even if they learned one from a course) and don't know how to execute properly a pentest service if the service conditions change. They may know some techniques, know how to use some tools an some also have created small tools here and there. Some of them also have a distorted understanding of what penetration testing is thanks to movies and TV shows.
                        </p>
                                        
                        <p>
                            More than one acquaintance, upon starting their first job as a penetration testers, showed off their gadgets (USB killers, jammers, etc.), the prizes they'd won in CTFs, and the talks they'd given at their school cybersecurity clubs. Of course, there's nothing wrong with that; on the contrary, it's a clear demonstration of their passion and desire to continue developing in the field of cybersecurity. There are also those who knew nothing about penetration testing and end up discovering it for the first time, and that's perfectly fine too.
                        </p>
                                        
                        <p>
                            However, over time some become discouraged because they discover that penetration testing must be done carefully, following a specific methodology that can differ form the ones they know, all of these with a defined scope and objectives, sometimes limited by several factors in the available tools. They also discover the need to meticulously document what was done and what was found, or they may have overlooked the fact that the results must be presented to different audiences, requiring them to use sometimes detailed technical language and at other times executive language focused on the business impact. Some are even overwhelmed by the constant research or the amount of study required, because, in some technologies, updates are continuous, and you must stay current to perform your penetration tests properly and effectively.
                        </p>
                                        
                        <p>
                            In a penetration testing service, it is not enough to simply evade controls or break things; it is extremely important to know how to prevent and address, promptly and appropriately, each of the identified findings, You must adhere to the conditions agreed between the client and your employer (service duration, methodology, tools, objectives, activities not allowed, etc.) and  of course, you must communicate appropriately what was done and identified during the service.
                        </p>
                                        
                        <p>
                            Well, some of these aspects will impact you at some point depending on the company you join, the available resources, the time you plan to dedicate to your self-training and personal development, as well as several other conditions over which you won't have complete control (that's life for everyone). Finally, it's also important to consider whether you want to be a poor penetration tester or a serious one.
                        </p>
                                        
                        <p>
                            Personally, what I like about penetration testing is that I feel like I'm in an environment where challenges constantly arise, sometimes like riddles, other times like puzzles or like adventures. And I really enjoy working in penetration testing because I help others identify problems in their infrastructure and also help them improve their organization's security.
                        </p>
                                        
                        <p>
                            Well, having said that, when new coworkers enter my area, I give them a little training for some weeks. Through this training, I aim to review the fundamental technical knowledge of networks, applications, operating systems, information security, cloud computing and other relevant technologies, as well as introduce them to the methodology of the area for each service we provide.
                        </p>
                                        
                        <p>
                            The first lesson includes a section whose objective is for the newbies to define what they want to do with their life in the future.
                        </p>
                                        
                        <p>
                            In some cases, they already know that they want to be pentesters, maybe you too. I is also important that you have clear what you want in your life. I mean, maybe buy a house, a car, have a family, travel, start your own company, get money to buy stuff, be a researcher in academic or private environments, work for government, etc.
                        </p>
                                        
                        <p>
                            I recommend having these things in mind because that will let you define a better plan that can include expected money income, and savings that you may use to pay for courses, certs and equipment (like laptops, antennas, hardware gadgets, books, etc.) before you get hired.
                        </p>
                                        
                        <p>
                            Now, in the pentesting world, it's a good idea to have clear what interests you the most, web apps, mobile apps, desktop apps, enterprise networks, wireless networks, physical pentesting, etc.
                        </p>
                        
                        <p>
                            To clear your interests its a good idea to quick search through a search engine, but a good advice is to be realistic. How? well, maybe all that you've found could attracted your attention, but you must understand that you will need lot of time to develop into those specialties. So maybe you can select one or two that likes you the most and keep them as your starting point. It could help you a lot if what you've decided is a popular specialty in the market.
                        </p>

                        <p>
                            Having clear interests will help you to decide which path to follow. as you may know, you can gain expertise through studies, or working, or courses and certifications, if you decide the last option, probably you know this <a href="https://pauljerimy.com/security-certification-roadmap/" class="social-link-il">Security Certification Roadmap</a>. With this roamap you can have <b>some</b> visibility of what is there in the certifications market to start or, in some cases, grow up and reach a higher level, just select one or two certifications to give the next step and go ahead at your own rhythm.
                        </p>
                                        
                        <p>
                            In order to decide where to apply for work, I recommend you do the following in order:
                        </p>
                        
                        <ol type="1">
                            <li>
                                <p>
                                    Search for people (in LinkedIn or other sites) that work in pentesting and that are <i>geographically</i> near to you.
                                </p>
                                <p>
                                    <i>"Geographically"</i> because in my experience, in different parts of the world the organizations needs changes from region to region and also the cybersecurity services offered within those regions
                                </p>
                            </li>
                            <li>Enter their profiles and review the following:
                                <ul>
                                    <li>What they have studied</li>
                                    <li>What experience they've got during their professional life, and in what time (this will let you estimate how long it will take you to reach those jobs or levels)</li>
                                    <li>
                                        <p>
                                            Which certifications they hold.
                                        </p>
                                        <p>
                                            Here is very important to clarify that certs do not always reflect the knowledge of the person. I mean, just because someone has many certifications doesn't mean they're experts, and vice versa, if someone has few or no certifications, it doesn't mean they don't know anything.
                                        </p>
                                    </li>
                                    <li>For which organizations they have worked</li>
                                </ul>
                                <p>Now you must have more clarity about the possible paths that you can go through that are near to you.</p>
                                <p>From last point you must have an initial list of organizations near to you that have pentesting teams, good!</p>
                            </li>
                            <li>At this point I recommend you to search pentest job offers within these organizations, no matter if these offers are old or quite different from what you are looking for, because in these offers you will see what they require. I mean, what they are looking for, which studies, which certs, how many years of experience for which job roles and desired knowledge.</li>
                            <li>Finally search for pentest job offers for other organizations near to you and look for the same info.</li>
                        </ol>

                        <p>
                            With all this info you will have lot of clarity about what you already have and what you need to prepare or to study. 
                        </p>

                        <p>
                            Once you get quite prepared for the job role you are looking for, then prepare your CV and apply. Obviously not all organizations will accept you, but you will have more probability of satisfying their needs and you will be more attractive to them to offer you a job or considering for another similar profile.
                        </p>
                                        
                        <p>
                            Relative to your CV, I recommend you to take care a lot about how you present yourself, be honest and humble, but also focus on your strengths, use the correct words and terms, most of the CVs I reject are because people doesn't write correctly or they misuse/mix the terms (for example, if someone tells me that he can scan a network with a source code dedicated scanner that will be a lie and he will be discarded automatically). Also I recommend to be clear in your intentions and desires, that will let your possible employer if you fit within their needs.
                        </p>
                                        
                        <p>
                            For example: maybe they are looking a long term coworker, but you only want to work for a season, then, if you don't tell nothing and got the job, and then you leave the organization, the next time you look for job offers within this organization they could reject you automatically.
                        </p>
                                        
                        <p>
                            There are several interesting blogs and videos out there about how to write your CV, so I won't go into that topic any further.
                        </p>

                        <p>
                            Regarding technical interviews, there are many types and formats. Some include written and/or oral knowledge tests, sometimes mini-lab exercises, problem-solving challenges, and some organizations even conduct several technical interviews in stages to evaluate the candidate's actual skill and knowledge levels.
                        </p>

                        <p>
                            However, I won't go into detail. Here are some suggestions I can offer to you:
                        </p>

                        <ul>
                            <li>
                                Whether remote or in person, dress formally.
                            </li>
                            <li>
                                Be respectful to your interviewer and everyone you meet.
                            </li>
                            <li>
                                Stay calm, trust in your knowledge and experience.
                            </li>
                            <li>
                                Be sincere about your intentions.
                            </li>
                            <li>
                                Be honest; if you don't know something, don't invent it, and if you know something, tell what you know, even if it is not the correct or the complete answer.
                            </li>
                            <li>
                                You don't have to know everything; the interview's purpose is precisely to assess your suitability for the position, so don't be discouraged if you didn't know the answer to a question.
                            </li>
                            <li>
                                Ask as many questions as you like about the position they're trying to fill. This is crucial because, as the interview allows the organization to learn about the candidate, also can let the candidate to have a better understanding of the organization and his/her future responsibilities.
                            </li>
                            <li>
                                Be humble; there are people who know much more about the field than you and possess skills you haven't even considered.
                            </li>
                            <li>
                                Don't be discouraged if you weren't selected; if possible, ask for feedback and advice.
                            </li>
                            <li>
                                If you weren't selected, keep exploring other options. There are many opportunities out there waiting for someone just like you.
                            </li>
                        </ul>

                        <p>
                            I hope that this post can be of some help to you.
                        </p>

                        <p>
                            <span>
                                Want to share this post? <a href="javascript:copyTextToClipboard('posts/firstjob');" class="social-link-il">Share this post</a><i> (copy URL to clipboard)</i>
                            </span>
                        </p>

                    </td>
                </tr>
            </table>
                
            <p> &#160;</p>
        </section>
        <p> &#160;</p>
    </div>
    <!-- Get Hired Ends -->
</div>

